body {
            font-family: sans-serif;
            margin: 20px;
        }

        h1 {
            text-align: center;
            color: #2a7ae2;
        }

        h2 {
            color: #ff6600;
            margin-top: 30px;
        }

        p {
            margin-bottom: 15px;
        }

        img {
            max-width: 50px;
            margin-right: 10px;
            vertical-align: middle;
        }

        .foto-perfil {
            border-radius: 50%;
        }

        /* Estilo para os vídeos */
        .video-centralizado {
            display: flex;
            justify-content: center;
            margin: 40px 0;
        }

        .video-centralizado video {
            width: 400px;
            height: auto;
            border-radius: 10px;
        }

        .video-direita {
            display: flex;
            justify-content: flex-end;
            margin: 40px 0;
        }

        .video-direita iframe {
            width: 350px;
            height: 200px;
            border-radius: 10px;
        }

        /* Responsividade simples */
        @media (max-width: 768px) {
            .video-centralizado video,
            .video-direita iframe {
                width: 100%;
            }

            .video-direita {
                justify-content: center;
            }
        } 
        table{
            background-color: #918c8cb4;
        }
        
           
        
        thead{
            background-color: #a861d100;
        }
        tfoot{
            font-size: 20px;
        }